In [43]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [44]:
csv_path = 'https://raw.githubusercontent.com/FedericoFornone/Laboratorio_Integrato/fintech/DataSet/turismo_da_estero_in_italia.csv'

input_df = pd.read_csv(csv_path, sep=";")

display(input_df)

,Territorio,Indicatori,Tipologia di esercizio,Paese di residenza dei clienti,TIME,Value,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,Italia,arrivi,esercizi alberghieri,Altri,01/01/2008,29315.0,NaN,NaN,NaN,NaN,NaN
1,Italia,arrivi,esercizi alberghieri,Altri,01/02/2008,32928.0,NaN,NaN,NaN,NaN,NaN
2,Italia,arrivi,esercizi alberghieri,Altri,01/03/2008,40417.0,NaN,NaN,NaN,NaN,NaN
3,Italia,arrivi,esercizi alberghieri,Altri,01/04/2008,44779.0,NaN,NaN,NaN,NaN,NaN
4,Italia,arrivi,esercizi alberghieri,Altri,01/05/2008,47401.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
36763,Italia,presenze,esercizi extra-alberghieri,Altri paesi africani,01/08/2021,18253.0,NaN,NaN,NaN,NaN,NaN
36764,Italia,presenze,esercizi extra-alberghieri,Altri paesi africani,01/09/2021,13494.0,NaN,NaN,NaN,NaN,NaN
36765,Italia,presenze,esercizi extra-alberghieri,Altri paesi africani,01/10/2021,10438.0,NaN,NaN,NaN,NaN,NaN
36766,Italia,presenze,esercizi extra-alberghieri,Altri paesi africani,01/11/2021,9240.0,NaN,NaN,NaN,NaN,NaN
36767,Italia,presenze,esercizi extra-alberghieri,Altri paesi africani,01/12/2021,9508.0,NaN,NaN,NaN,NaN,NaN

In [45]:
# Pulizia dataset
input_df.columns

input_columns = ['Territorio', 'Indicatori', 'Tipologia di esercizio', 'Paese di residenza dei clienti', 'TIME', 'Value']

for col in input_df.columns:
    if col not in input_columns:
        input_df.drop(col, axis=1, inplace=True)

column_list = ['Date', 'TypeOfInfrastructure', 'CountryOfOrigin', 'Arrivals', 'Attendance']

date = input_df['TIME'].to_numpy()
TypeOfInfrastructure = input_df['Tipologia di esercizio'].to_numpy()
CountryOfOrigin = input_df['Paese di residenza dei clienti'].to_numpy()
Arrivals = input_df[input_df['Indicatori'] == "arrivi "]['Value'].to_numpy()
Attendance = input_df[input_df['Indicatori'] == "presenze"]['Value'].to_numpy()

display(date)
display(TypeOfInfrastructure)
display(CountryOfOrigin)
display(Arrivals)
display(Attendance)

output_df = pd.DataFrame(columns=column_list)




display(output_df)

array(['01/01/2008', '01/02/2008', '01/03/2008', ..., '01/10/2021',
       '01/11/2021', '01/12/2021'], dtype=object)

array(['esercizi alberghieri', 'esercizi alberghieri',
       'esercizi alberghieri', ..., 'esercizi extra-alberghieri',
       'esercizi extra-alberghieri', 'esercizi extra-alberghieri'],
      dtype=object)

array(['Altri', 'Altri', 'Altri', ..., 'Altri paesi africani',
       'Altri paesi africani', 'Altri paesi africani'], dtype=object)

array([29315., 32928., 40417., ...,   367.,   217.,   199.])

array([21317., 24547., 27740., ..., 10438.,  9240.,  9508.])

Empty DataFrame
Columns: [Date, TypeOfInfrastructure, CountryOfOrigin, Arrivals, Attendance]
Index: []