In [13]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [14]:
# Apertura del dataframe
path = '../Data/estero.csv'
df = pd.read_csv(path)

display(df)

,Territorio,TIPO_ALLOGGIO2,Paese di residenza dei clienti,TIME,arrivi,presenze
0,Italia,HOTELLIKE,Altri,2008-01-01,29315.0,72028.0
1,Italia,HOTELLIKE,"Altri Paesi del medio oriente (Arabia Saudita,...",2008-01-01,7125.0,25069.0
2,Italia,HOTELLIKE,Altri Paesi dell'Asia,2008-01-01,13892.0,41702.0
3,Italia,HOTELLIKE,Altri paesi africani,2008-01-01,6580.0,21542.0
4,Italia,HOTELLIKE,Altri paesi europei,2008-01-01,41295.0,148155.0
...,...,...,...,...,...,...
18379,Italia,OTHER,Sud Africa,2021-12-01,147.0,507.0
18380,Italia,OTHER,Svezia,2021-12-01,1222.0,4538.0
18381,Italia,OTHER,Turchia,2021-12-01,1076.0,6024.0
18382,Italia,OTHER,Ungheria,2021-12-01,1498.0,5410.0
18383,Italia,OTHER,Venezuela,2021-12-01,342.0,1472.0

In [22]:
# Creazione di una lista di paesi di provenienza dei turisti esteri
country_list = df['Paese di residenza dei clienti'].unique()
print(country_list)

['Altri'
 'Altri Paesi del medio oriente (Arabia Saudita, Barhein, Emirati Arabi Uniti, Giordania, Irak, Iran, Kuwait, Oman, Quatar, Siria, Yemen)'
 "Altri Paesi dell'Asia" 'Altri paesi africani' 'Altri paesi europei'
 'Argentina' 'Australia' 'Austria' 'Belgio' 'Brasile' 'Bulgaria' 'Canada'
 'Ceca, Repubblica' 'Cina' 'Cipro' 'Corea del sud' 'Croazia' 'Danimarca'
 'Egitto' 'Estonia' 'Finlandia' 'Francia' 'Germania' 'Giappone' 'Grecia'
 'India' 'Irlanda' 'Islanda' 'Israele' 'Italia' 'Lettonia' 'Lituania'
 'Lussemburgo' 'Malta' 'Messico' 'Norvegia' 'Nuova Zelanda' 'Paesi Bassi'
 "Paesi dell'Africa mediterranea (Libia, Tunisia, Algeria, Marocco)"
 'Paesi esteri' 'Polonia' 'Portogallo' 'Regno unito' 'Romania' 'Russia'
 'Slovacchia' 'Slovenia' 'Spagna' 'Stati Uniti' 'Sud Africa' 'Svezia'
 'Turchia' 'Ungheria' 'Venezuela' "Altri Paesi dell'Oceania"]

In [16]:
# Apertura del dataframe riguardanti le percentuali dei turisti esteri in italia
path_percentage = '../Data/percentuali_arrivi_presenze.csv'
percentage_df = pd.read_csv(path_percentage, sep=',')

In [20]:
# Merge dei due dataset messi in relazione tra di loro tramite la variabile 'TIME'
df = pd.merge(df, percentage_df, on = "TIME", how = "inner")

In [21]:
display(df)

,Territorio,TIPO_ALLOGGIO2,Paese di residenza dei clienti,TIME,arrivi,presenze,percentage_arrivals,percentage_attendance
0,Italia,HOTELLIKE,Altri,2008-01-01,29315.0,72028.0,0.347638,0.369752
1,Italia,HOTELLIKE,"Altri Paesi del medio oriente (Arabia Saudita,...",2008-01-01,7125.0,25069.0,0.347638,0.369752
2,Italia,HOTELLIKE,Altri Paesi dell'Asia,2008-01-01,13892.0,41702.0,0.347638,0.369752
3,Italia,HOTELLIKE,Altri paesi africani,2008-01-01,6580.0,21542.0,0.347638,0.369752
4,Italia,HOTELLIKE,Altri paesi europei,2008-01-01,41295.0,148155.0,0.347638,0.369752
...,...,...,...,...,...,...,...,...
18379,Italia,OTHER,Sud Africa,2021-12-01,147.0,507.0,0.249932,0.205099
18380,Italia,OTHER,Svezia,2021-12-01,1222.0,4538.0,0.249932,0.205099
18381,Italia,OTHER,Turchia,2021-12-01,1076.0,6024.0,0.249932,0.205099
18382,Italia,OTHER,Ungheria,2021-12-01,1498.0,5410.0,0.249932,0.205099
18383,Italia,OTHER,Venezuela,2021-12-01,342.0,1472.0,0.249932,0.205099

In [26]:
# Calcolo delle percentuali delle presenze e degli arrivi in italia da parte di turisti esteri
def percentage(num, percent):
    return num * percentage / 100

df['arrivi'].apply(percentage)

TypeError: percentage() missing 1 required positional argument: 'percent'