In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [2]:
path = '../Data/estero.csv'
df = pd.read_csv(path)

display(df)

,Territorio,TIPO_ALLOGGIO2,Paese di residenza dei clienti,TIME,arrivi,presenze
0,Italia,HOTELLIKE,Altri,2008-01-01,29315.0,72028.0
1,Italia,HOTELLIKE,"Altri Paesi del medio oriente (Arabia Saudita,...",2008-01-01,7125.0,25069.0
2,Italia,HOTELLIKE,Altri Paesi dell'Asia,2008-01-01,13892.0,41702.0
3,Italia,HOTELLIKE,Altri paesi africani,2008-01-01,6580.0,21542.0
4,Italia,HOTELLIKE,Altri paesi europei,2008-01-01,41295.0,148155.0
...,...,...,...,...,...,...
18379,Italia,OTHER,Sud Africa,2021-12-01,147.0,507.0
18380,Italia,OTHER,Svezia,2021-12-01,1222.0,4538.0
18381,Italia,OTHER,Turchia,2021-12-01,1076.0,6024.0
18382,Italia,OTHER,Ungheria,2021-12-01,1498.0,5410.0
18383,Italia,OTHER,Venezuela,2021-12-01,342.0,1472.0

In [4]:
display(df['Paese di residenza dei clienti'].unique())

array(['Altri',
       'Altri Paesi del medio oriente (Arabia Saudita, Barhein, Emirati Arabi Uniti, Giordania, Irak, Iran, Kuwait, Oman, Quatar, Siria, Yemen)',
       "Altri Paesi dell'Asia", 'Altri paesi africani',
       'Altri paesi europei', 'Argentina', 'Australia', 'Austria',
       'Belgio', 'Brasile', 'Bulgaria', 'Canada', 'Ceca, Repubblica',
       'Cina', 'Cipro', 'Corea del sud', 'Croazia', 'Danimarca', 'Egitto',
       'Estonia', 'Finlandia', 'Francia', 'Germania', 'Giappone',
       'Grecia', 'India', 'Irlanda', 'Islanda', 'Israele', 'Italia',
       'Lettonia', 'Lituania', 'Lussemburgo', 'Malta', 'Messico',
       'Norvegia', 'Nuova Zelanda', 'Paesi Bassi',
       "Paesi dell'Africa mediterranea (Libia, Tunisia, Algeria, Marocco)",
       'Paesi esteri', 'Polonia', 'Portogallo', 'Regno unito', 'Romania',
       'Russia', 'Slovacchia', 'Slovenia', 'Spagna', 'Stati Uniti',
       'Sud Africa', 'Svezia', 'Turchia', 'Ungheria', 'Venezuela',
       "Altri Paesi dell'Oceania"], dtype=object)

In [5]:
display(df['TIME'].unique())

array(['2008-01-01', '2008-02-01', '2008-03-01', '2008-04-01',
       '2008-05-01', '2008-06-01', '2008-07-01', '2008-08-01',
       '2008-09-01', '2008-10-01', '2008-11-01', '2008-12-01',
       '2009-01-01', '2009-02-01', '2009-03-01', '2009-04-01',
       '2009-05-01', '2009-06-01', '2009-07-01', '2009-08-01',
       '2009-09-01', '2009-10-01', '2009-11-01', '2009-12-01',
       '2010-01-01', '2010-02-01', '2010-03-01', '2010-04-01',
       '2010-05-01', '2010-06-01', '2010-07-01', '2010-08-01',
       '2010-09-01', '2010-10-01', '2010-11-01', '2010-12-01',
       '2011-01-01', '2011-02-01', '2011-03-01', '2011-04-01',
       '2011-05-01', '2011-06-01', '2011-07-01', '2011-08-01',
       '2011-09-01', '2011-10-01', '2011-11-01', '2011-12-01',
       '2012-01-01', '2012-02-01', '2012-03-01', '2012-04-01',
       '2012-05-01', '2012-06-01', '2012-07-01', '2012-08-01',
       '2012-09-01', '2012-10-01', '2012-11-01', '2012-12-01',
       '2013-01-01', '2013-02-01', '2013-03-01', '2013-04-01',
       '2013-05-01', '2013-06-01', '2013-07-01', '2013-08-01',
       '2013-09-01', '2013-10-01', '2013-11-01', '2013-12-01',
       '2014-01-01', '2014-02-01', '2014-03-01', '2014-04-01',
       '2014-05-01', '2014-06-01', '2014-07-01', '2014-08-01',
       '2014-09-01', '2014-10-01', '2014-11-01', '2014-12-01',
       '2015-01-01', '2015-02-01', '2015-03-01', '2015-04-01',
       '2015-05-01', '2015-06-01', '2015-07-01', '2015-08-01',
       '2015-09-01', '2015-10-01', '2015-11-01', '2015-12-01',
       '2016-01-01', '2016-02-01', '2016-03-01', '2016-04-01',
       '2016-05-01', '2016-06-01', '2016-07-01', '2016-08-01',
       '2016-09-01', '2016-10-01', '2016-11-01', '2016-12-01',
       '2017-01-01', '2017-02-01', '2017-03-01', '2017-04-01',
       '2017-05-01', '2017-06-01', '2017-07-01', '2017-08-01',
       '2017-09-01', '2017-10-01', '2017-11-01', '2017-12-01',
       '2018-01-01', '2018-02-01', '2018-03-01', '2018-04-01',
       '2018-05-01', '2018-06-01', '2018-07-01', '2018-08-01',
       '2018-09-01', '2018-10-01', '2018-11-01', '2018-12-01',
       '2019-01-01', '2019-02-01', '2019-03-01', '2019-04-01',
       '2019-05-01', '2019-06-01', '2019-07-01', '2019-08-01',
       '2019-09-01', '2019-10-01', '2019-11-01', '2019-12-01',
       '2020-01-01', '2020-02-01', '2020-03-01', '2020-04-01',
       '2020-05-01', '2020-06-01', '2020-07-01', '2020-08-01',
       '2020-09-01', '2020-10-01', '2020-11-01', '2020-12-01',
       '2021-01-01', '2021-02-01', '2021-03-01', '2021-04-01',
       '2021-05-01', '2021-06-01', '2021-07-01', '2021-08-01',
       '2021-09-01', '2021-10-01', '2021-11-01', '2021-12-01'],
      dtype=object)

In [ ]:
# Aggiungere il dataframe delle percentuali all'interno del dataframe dei turisti esteri per poter ottenere dei dati vicini alla realtà per quanto riguarda l'abruzzo