In [88]:
import pandas as pd
import numpy as np
import math

In [89]:
path = '../Data/italia_abruzzo_stranieri.csv'
df = pd.read_csv(path, sep=',')
display(df)

      Region Infrastructure ResidenceCountry        Date  Arrivals  Attendance
0    Abruzzo            ALL     Paesi esteri  2008-01-01      5548       21724
1     Italia            ALL     Paesi esteri  2008-01-01   1595913     5875297
2    Abruzzo            ALL     Paesi esteri  2008-02-01      7245       28281
3     Italia            ALL     Paesi esteri  2008-02-01   2004381     7288219
4    Abruzzo            ALL     Paesi esteri  2008-03-01      8108       27915
..       ...            ...              ...         ...       ...         ...
331   Italia            ALL     Paesi esteri  2021-10-01   3697043    11802436
332  Abruzzo            ALL     Paesi esteri  2021-11-01      3817       11277
333   Italia            ALL     Paesi esteri  2021-11-01   1335662     4250595
334  Abruzzo            ALL     Paesi esteri  2021-12-01      2995        8732
335   Italia            ALL     Paesi esteri  2021-12-01   1198327     4257461

[336 rows x 6 columns]

In [90]:
# Verifico che la colonna 'Region' contenga solo dati su 'Italia' e 'Abruzzo'
display(df.Region.unique())
# Verifico che la colonna 'ResidenceCountry' contenga solo dati su 'Paesi esteri'
display(df['ResidenceCountry'].unique())
# Drop della colonna 'Infrastructure' poichè inutile in questo dataset
df.drop('Infrastructure', axis=1, inplace=True)

display(df)

AttributeError: 'DataFrame' object has no attribute 'Territorio'

In [ ]:
# Creo un nuovo dataframe per memorizzare le percentuali dei clienti esteri in abruzzo rispetto all'italia, messi in relazione con il periodo temporale
new_df = pd.DataFrame(columns=['Date', 'percentage_arrivals', 'percentage_attendance'])

# Scorro tutto il dataframe iniziale per ottenere le percentuali degli arrivi e le percentuali delle presenze
for i in range(0, 336, 2):
    # Ottengo i dati relativi agli arrivi e alle prensenze
    arrivals_abruzzo = df['Arrivals'].iloc[i]
    arrivals_italia = df['Arrivals'].iloc[i+1]

    attendance_abruzzo = df['Attendance'].iloc[i]
    attendance_italia = df['Attendance'].iloc[i+1]

    # Calcolo le percentuali degli arrivi e delle presenze
    percentage_arrivals = (arrivals_abruzzo * 100) / arrivals_italia
    percentage_attendance = (attendance_abruzzo * 100) / attendance_italia

    # Inserisco i dati in una lista con in aggiunta il periodo temporale per poter poi aggiungere la lista al dataframe
    data = {'Date' : df['Date'].iloc[i],
            'percentage_arrivals' : percentage_arrivals,
            'percentage_attendance' : percentage_attendance}

    # Popolo il dataframe nuovo con la lista
    new_df.loc[i] = data


display(new_df)

In [91]:
df_estero = pd.read_csv('../Data/estero.csv')
display(df_estero)

,Territorio,TIPO_ALLOGGIO2,Paese di residenza dei clienti,TIME,arrivi,presenze
0,Italia,HOTELLIKE,Altri,2008-01-01,29315.0,72028.0
1,Italia,HOTELLIKE,"Altri Paesi del medio oriente (Arabia Saudita,...",2008-01-01,7125.0,25069.0
2,Italia,HOTELLIKE,Altri Paesi dell'Asia,2008-01-01,13892.0,41702.0
3,Italia,HOTELLIKE,Altri paesi africani,2008-01-01,6580.0,21542.0
4,Italia,HOTELLIKE,Altri paesi europei,2008-01-01,41295.0,148155.0
...,...,...,...,...,...,...
18379,Italia,OTHER,Sud Africa,2021-12-01,147.0,507.0
18380,Italia,OTHER,Svezia,2021-12-01,1222.0,4538.0
18381,Italia,OTHER,Turchia,2021-12-01,1076.0,6024.0
18382,Italia,OTHER,Ungheria,2021-12-01,1498.0,5410.0
18383,Italia,OTHER,Venezuela,2021-12-01,342.0,1472.0

In [ ]:
df_estero = pd.merge(df_estero, new_df, on = "Date", how = "inner")

In [ ]:
display(df_estero)

In [ ]:
# Calcolo delle percentuali delle presenze e degli arrivi in italia da parte di turisti esteri
for i in range(len(df_estero)):
    df_estero.loc[i, "Arrivals"] = math.ceil((df_estero.loc[i, 'percentage_arrivals'] * df_estero.loc[i, 'Arrivals']) / 100)
    df_estero.loc[i, "Attendance"] = math.ceil((df_estero.loc[i, 'percentage_attendance'] * df_estero.loc[i, 'Attendance']) / 100)

In [ ]:
df_estero.drop(['percentage_attendance', 'percentage_arrivals'], axis=1, inplace=True)
df_estero.Region = 'Abruzzo'

In [ ]:
display(df_estero)

In [2]:
# Creazione di un nuovo file csv da utilizzare in seguito per le analisi dei clienti residenti all'estero
df_estero.to_csv("../Data/final_data/turisti_stranieri_abruzzo.csv", index=False)

4954.0