In [1]:
import pandas as pd
import numpy as np

In [2]:
path = '../Data/italia_abruzzo_stranieri.csv'
df = pd.read_csv(path, sep=',')
display(df)

,Territorio,TIPO_ALLOGGIO2,Paese di residenza dei clienti,TIME,arrivi,presenze
0,Abruzzo,ALL,Paesi esteri,2008-01-01,5548,21724
1,Italia,ALL,Paesi esteri,2008-01-01,1595913,5875297
2,Abruzzo,ALL,Paesi esteri,2008-02-01,7245,28281
3,Italia,ALL,Paesi esteri,2008-02-01,2004381,7288219
4,Abruzzo,ALL,Paesi esteri,2008-03-01,8108,27915
...,...,...,...,...,...,...
331,Italia,ALL,Paesi esteri,2021-10-01,3697043,11802436
332,Abruzzo,ALL,Paesi esteri,2021-11-01,3817,11277
333,Italia,ALL,Paesi esteri,2021-11-01,1335662,4250595
334,Abruzzo,ALL,Paesi esteri,2021-12-01,2995,8732
335,Italia,ALL,Paesi esteri,2021-12-01,1198327,4257461

In [3]:
# Verifico che la colonna 'Territorio' contenga solo dati su 'Italia' e 'Abruzzo'
display(df.Territorio.unique())
# Verifico che la colonna 'Paese di residenza dei clienti' contenga solo dati su 'Paesi esteri'
display(df['Paese di residenza dei clienti'].unique())
# Drop della colonna 'TIPO_ALLOGGIO2' poichè inutile in questo dataset
df.drop('TIPO_ALLOGGIO2', axis=1, inplace=True)

display(df)

array(['Abruzzo', 'Italia'], dtype=object)

array(['Paesi esteri'], dtype=object)

    Territorio Paese di residenza dei clienti        TIME   arrivi  presenze
0      Abruzzo                   Paesi esteri  2008-01-01     5548     21724
1       Italia                   Paesi esteri  2008-01-01  1595913   5875297
2      Abruzzo                   Paesi esteri  2008-02-01     7245     28281
3       Italia                   Paesi esteri  2008-02-01  2004381   7288219
4      Abruzzo                   Paesi esteri  2008-03-01     8108     27915
..         ...                            ...         ...      ...       ...
331     Italia                   Paesi esteri  2021-10-01  3697043  11802436
332    Abruzzo                   Paesi esteri  2021-11-01     3817     11277
333     Italia                   Paesi esteri  2021-11-01  1335662   4250595
334    Abruzzo                   Paesi esteri  2021-12-01     2995      8732
335     Italia                   Paesi esteri  2021-12-01  1198327   4257461

[336 rows x 5 columns]

In [4]:
# Creo un nuovo dataframe per memorizzare le percentuali dei clienti esteri in abruzzo rispetto all'italia, messi in relazione con il periodo temporale
new_df = pd.DataFrame(columns=['TIME', 'percentage_arrivals', 'percentage_attendance'])

# Scorro tutto il dataframe iniziale per ottenere le percentuali degli arrivi e le percentuali delle presenze
for i in range(0, 336, 2):
    # Ottengo i dati relativi agli arrivi e alle prensenze
    arrivals_abruzzo = df['arrivi'].iloc[i]
    arrivals_italia = df['arrivi'].iloc[i+1]

    attendance_abruzzo = df['presenze'].iloc[i]
    attendance_italia = df['presenze'].iloc[i+1]

    # Calcolo le percentuali degli arrivi e delle presenze
    percentage_arrivals = (arrivals_abruzzo * 100) / arrivals_italia
    percentage_attendance = (attendance_abruzzo * 100) / attendance_italia

    # Inserisco i dati in una lista con in aggiunta il periodo temporale per poter poi aggiungere la lista al dataframe
    data = {'TIME' : df['TIME'].iloc[i],
            'percentage_arrivals' : percentage_arrivals,
            'percentage_attendance' : percentage_attendance}

    # Popolo il dataframe nuovo con la lista
    new_df.loc[i] = data


display(new_df)

           TIME  percentage_arrivals  percentage_attendance
0    2008-01-01             0.347638               0.369752
2    2008-02-01             0.361458               0.388037
4    2008-03-01             0.274703               0.284859
6    2008-04-01             0.348612               0.381517
8    2008-05-01             0.461012               0.566373
..          ...                  ...                    ...
326  2021-08-01             0.405076               0.440751
328  2021-09-01             0.432638               0.450290
330  2021-10-01             0.256475               0.258760
332  2021-11-01             0.285776               0.265304
334  2021-12-01             0.249932               0.205099

[168 rows x 3 columns]

In [5]:
# Creazione di un nuovo file csv da utilizzare in seguito per le analisi dei clienti residenti all'estero
new_df.to_csv("../Data/percentuali_arrivi_presenze.csv", index=False)