In [4]:
import pandas as pd

df = pd.read_csv('../Data/final_data/annuo_abruzzo.csv')

display(df)

      Region Infrastructure ResidenceCountry  Date   Arrivals  Attendance
0    Abruzzo      HOTELLIKE           Italia  2008  1205426.0   4479655.0
1    Abruzzo      HOTELLIKE     Paesi esteri  2008   149736.0    643212.0
2    Abruzzo          OTHER           Italia  2008   228036.0   2060178.0
3    Abruzzo          OTHER     Paesi esteri  2008    43151.0    377431.0
4     Chieti      HOTELLIKE           Italia  2008   225852.0    703217.0
..       ...            ...              ...   ...        ...         ...
275  Pescara          OTHER     Paesi esteri  2021     5436.0     17261.0
276   Teramo      HOTELLIKE           Italia  2021   307565.0   1467477.0
277   Teramo      HOTELLIKE     Paesi esteri  2021    25985.0    139814.0
278   Teramo          OTHER           Italia  2021   149393.0   1208004.0
279   Teramo          OTHER     Paesi esteri  2021    20819.0    138830.0

[280 rows x 6 columns]

In [5]:
df_input = pd.read_csv('../Data/final_data/province.csv')

combined = pd.concat([df, df_input], ignore_index=True)

In [6]:
display(combined)

,Region,Infrastructure,ResidenceCountry,Date,Arrivals,Attendance
0,Abruzzo,HOTELLIKE,Italia,2008,1205426.0,4479655.0
1,Abruzzo,HOTELLIKE,Paesi esteri,2008,149736.0,643212.0
2,Abruzzo,OTHER,Italia,2008,228036.0,2060178.0
3,Abruzzo,OTHER,Paesi esteri,2008,43151.0,377431.0
4,Chieti,HOTELLIKE,Italia,2008,225852.0,703217.0
...,...,...,...,...,...,...
3635,Pescara,OTHER,Paesi esteri,2021-12-01,145.0,409.0
3636,Teramo,HOTELLIKE,Italia,2021-12-01,7582.0,19674.0
3637,Teramo,HOTELLIKE,Paesi esteri,2021-12-01,410.0,1761.0
3638,Teramo,OTHER,Italia,2021-12-01,1333.0,4437.0
3639,Teramo,OTHER,Paesi esteri,2021-12-01,60.0,294.0

In [7]:
combined.to_csv("../Data/final_data/abruzzo.csv", index=False)